<strong>Fala {{ username }}, tudo bem?</strong>

<p>A rifa {{ title }} foi criada com sucesso!</p>
<p>Valor: {{ value }}</p>
<p>Quantidade de rifas: {{ quantity }}</p>

@if(hasPicture)
  <p>Em anexo está sua imagem personalizada para a rifa! ;)</p>
@endif